<!DOCTYPE html>

	<html lang="en">
	    <head>
	    <meta charset="UTF-8">
	       <title> Add Change Log </title>
	       <style >
	       body {
	       	font-family: arial;
	       	background-color: rgb(185.179.175);
	       	text-align: left;
	       }

	       h1 {
	       	font-family: 
	       }
	       </style>
	    </head>
	    <body>
	    <h1> Change Log </h1>
	    <form name ="" action ="" method="post">
	    <input type="Bug Title" name="Bug Title" rows="1" cols="64" placeholder="Title"/><br>
        <input type="AsignedTo" name="AsignedTo" rows="1" cols="64" placeholder="Assignee"/><br>
	    <input type="Change Log Description" name="Change Log Description" rows="32" cols="64" placeholder="Description"/><br>
        <input type = "submit" value = "Submit"/>
            </form>

        </body>
	</html>