<!DOCTYPE html>

	<html lang="en">
	    <head>
	    <meta charset="UTF-8">
	       <title> Add bug </title>
	       <style >
	       body {
	       	font-family: arial;
	       	background-color: rgb(185.179.175);
	       	text-align: left;
	       }

	       h1 {
	       	font-family: 
	       }
	       </style>
	    </head>
	    <h1> Add Bug </h1>
	    <body>
	    <form name = "add_bug" action ="" method="post" tag = "Create Bug">

	    <textarea name="Bug Title" rows="1" cols="64" placeholder="Title"></textarea>
	    <br>
        <textarea name="Asigned To" rows="1" cols="64" placeholder="Name"></textarea>
        <br>
	    <textarea name="Bug Description" rows="32" cols="64" placeholder="Description"></textarea>
	    <br>
   	    <input name="Tags" type="text" width="100" placeholder="tags (comma seperated)">
            <br>
            <input type="submit" value="Submit"/>

   	</form>

        </body>
	</html>